.container {
  width: 100%;
  max-width: 840px;
  margin-inline: auto;
}
.view-switch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-right: 8px;
  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    &:first-child {
      margin-right: 21px;
    }
    &.is-active {
      svg, svg * {
        fill: #3D8EDA !important;
      }
    }
  }
}





/*  LOAD MORE  */
.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 28px;
  border: 1px solid #929292;
  background: transparent;
  border-radius: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.6875rem;
  color: #929292;
  &:hover{
    background: #fff;
  }
  cursor: pointer;
  &-wrap {
    display: flex;
    justify-content: center;
    margin: 16px auto 50px auto;
  }
}


