
.header {
  display: flex;
  padding: 6px 15px 28px 15px;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: inset 0 12px 24px -12px rgba(0,0,0,0.12), 0 4px 24px -12px rgba(0,0,0,0.12);
  .container{
    max-width: 730px;
  }
  .logo {
    display: block;
    margin-right: 86px;
    &:hover {
      opacity: 0.8;
    }
  }

  &-right {
    flex: 1;
  }

  &-top {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 22px;
    padding-top: 26px;
  }

  h1 {
    font-family: 'MontserratMedium', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
  }

  .btn {
    padding: 6px 12px 7px 12px;
    border: 1px solid #3b82f6;
    background: #fff;
    font-size: 0.8125rem;
    color: #3b82f6;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #3b82f6;
      color: #fff;
    }
  }

  &-stats {
    display: flex;
    gap: 17px;

    margin-bottom: 19px;
    span {
      display: inline-flex;
      align-items: center;
      font-size: 0.8725rem;
      &:nth-child(2) {
        margin-left: 11px;
      }
      strong{
        margin-right: 4px;
        font-weight: bold;
      }
    }
  }

  .date-filter {
    display: flex;
    align-items: center;
    gap: 11px;
    input {
      width: 162px;
      height: 28px;
      padding-left: 8px;
      border: 1px solid #DEDEDE;
      border-radius: 4px;
      font-size: 0.8125rem;
      color: #636264;
      &:last-child {
        margin-left: 19px;
      }
    }
  }


}

