.post {
  background: #fff;
  &__image {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    font-size: 0.875rem;
    font-weight: 500;
  }
  &__row {
    display: flex;
    margin-bottom: 7px;
    list-style: none;
    padding: 0;
  }
  &__stats img {
    margin-right: 6px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #000;
    time {
      font-size: 0.75rem;
    }
  }
}
.post__image {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
  }
  &:hover img {
    transform: scale(1.1);
    filter: brightness(0.9);
  }
}
.posts--cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  gap: 8px;
  .post {
    overflow: hidden;
  }
  .post__image {
    height: 203px;
  }
  .post__content {
    padding: 12px 12px 18px;
  }
  .post__row {
    justify-content: space-between;
    li {
      width: 50%;
      display: flex;
      align-items: center;
      .post__date {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  .post__dates{
    li .post__row{
      display: none;
    }
  }
  .post__footer {
    margin-top: 24px;
    align-items: self-end;
    font-size: 0.8725rem;
  }
}

.posts--list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .post__dates{
    width: 80%;
    & > li{
      width: 50%;
      .post__row{
        display: flex;
        align-items: center;
        gap: 18px;
        margin-top: 7px;
        li{
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }
  .post {
    display: grid;
    grid-template-columns: 86px 1fr;
    column-gap: 30px;
    background: #fff;
    align-items: start;
  }

  .post__image {
    width: 86px;
    height: 86px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .post__content {
    display: flex;
    gap: 6px;
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 500;
  }

  .post__header {
    display: flex;
    gap: 12px;
    font-size: 0.875rem;

    .post__date {
      font-weight: 500;
      color: #555;
    }
  }

  .post__stats {
    display: flex;
    gap: 16px;
    font-size: 0.8125rem;
    color: #333;
    display: none;

    span {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }

  .post__footer {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    time {
      margin-top: 8px;
      font-size: 0.8125rem;
      color: #000;
    }
  }
}

