@font-face {
	font-family: 'MontserratMedium';
	src: url('../fonts/Montserrat/MontserratMedium.eot');
	src: url('fonts/MontserratMedium.eot') format('embedded-opentype'),
			url('../fonts/Montserrat/MontserratMedium.woff2') format('woff2'),
			url('../fonts/Montserrat/MontserratMedium.woff') format('woff'),
			url('../fonts/Montserrat/MontserratMedium.ttf') format('truetype'),
			url('../fonts/Montserrat/MontserratMedium.svg#MontserratMedium') format('svg');
}