body {
  position: relative;
  min-height: 100vh;
  background: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  color: #000;
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &:before {
    width: 100%;
    max-width: 630px;
    height: 398px;
    top: 0;
    left: 0;
    background: url('../img/body-top-bg.png') no-repeat;
  }
  &:after {
    position: fixed;
    width: 210px;
    height: 386px;
    top: auto;
    bottom: 41px;
    left: auto;
    right: 0;
    background: url('../img/body-bottom-bg.png') no-repeat;
  }
}
.content {
  padding: 18px 15px 20px 15px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
