<!-- POSTS -->
<section class="posts posts--cards" id="posts">
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-1.webp" />
        <source type="image/jpg" srcset="/img/posts/post-1.jpg" />
        <img src="/img/posts/post-1.jpg" alt="post-1" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-2.webp" />
        <source type="image/jpg" srcset="/img/posts/post-2.jpg" />
        <img src="/img/posts/post-2.jpg" alt="post-2" title="post-2" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-3.webp" />
        <source type="image/jpg" srcset="/img/posts/post-3.jpg" />
        <img src="/img/posts/post-3.jpg" alt="post-3" title="post-3" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-4.webp" />
        <source type="image/jpg" srcset="/img/posts/post-4.jpg" />
        <img src="/img/posts/post-4.jpg" alt="post-4" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-5.webp" />
        <source type="image/jpg" srcset="/img/posts/post-5.jpg" />
        <img src="/img/posts/post-5.jpg" alt="post-5" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-7.webp" />
        <source type="image/jpg" srcset="/img/posts/post-7.jpg" />
        <img src="/img/posts/post-7.jpg" alt="post-7" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>.post__image
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-6.webp" />
        <source type="image/jpg" srcset="/img/posts/post-6.jpg" />
        <img src="/img/posts/post-6.jpg" alt="post-6" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
  <article class="post">
    <div class="post__image">
      <picture>
        <source type="image/webp" srcset="/img/posts/post-8.webp" />
        <source type="image/jpg" srcset="/img/posts/post-8.jpg" />
        <img src="/img/posts/post-8.jpg" alt="post-8" title="post-1" />
      </picture>
    </div>
    <div class="post__content">
      <ul class="post__row post__dates">
        <li>
          <span class="post__date">Today</span> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>128</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>31</span>
            </li>
          </ul>
        </li>
        <li>
          <time class="post__date" datetime="2016-08-09">9-08-2016</time> <br />
          <ul class="post__row">
            <li>
              <img src="/img/svg/heart.svg" alt="Likes" />
              <span>67</span>
            </li>
            <li>
              <img src="/img/svg/comment.svg" alt="Comments" />
              <span>22</span>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>128</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>31</span>
        </li>
      </ul>
      <ul class="post__row post__stats">
        <li>
          <img src="/img/svg/heart.svg" alt="Likes" />
          <span>67</span>
        </li>
        <li>
          <img src="/img/svg/comment.svg" alt="Comments" />
          <span>22</span>
        </li>
      </ul>
      <footer class="post__footer">
        <span>Image upload</span> <time datetime="2016-04-11">11-04-2016</time>
      </footer>
    </div>
  </article>
</section>
